/*
File Name: Color CSS Style
Description: Color CSS File
Author: Award Themes
Author URI: http://www.awardthemes.com
Version: 1.0
*/

/*
	  ============================================================
		   Font Color
	  ============================================================
*/
/* Test Unit Default Classes */
a.rsswidget:hover,
.widget_meta li:hover > a,
.recentcomments a:hover,
.widget_recent_entries li a:hover,
.widget_text ul li:hover p,
.widget_text ul li:hover i,
.mill_recent:hover .overflow_text h6 a,
.widget_pages li a:hover,
.awardthemes-user-comment-content p.edit-link:hover a,
p.logged-in-as a:hover,
.widget_categories li:hover,.widget_categories li:hover > a,
.widget_text .contact_list li:hover p, 
.widget_text .contact_list li:hover i,	
.widget_text .contact_list li i, 
.tags li a:hover,
span.wpcf7-not-valid-tip,
#breadcrumbs > li a:hover, 
.widget_nav_menu li a:hover, 
.widget_archive ul li a:hover,
.widget_categories ul li a:hover,
.sidebar-archives ul li a:hover, .sidebar-posts .title:hover,
.sidebar-categories ul li a:hover,
/* Woocommerce Default Classes */
.woocommerce.awardthemes-widget.widget_product_categories ul li a:hover,
.woocommerce.awardthemes-widget.widget_products a:hover,
.woocommerce ul.products li.product .price, 
.woocommerce p.stars a, 
.woocommerce a.remove, 
.woocommerce-info .showcoupon,
.woocommerce-MyAccount-content p a,
.woocommerce-message::before, 
.product_meta a:hover,
.woocommerce div.product p.price, 
.woocommerce div.product span.price, 
.woocommerce .woocommerce-info::before,
/* Theme Colors Classes */
#cancel-comment-reply-link:hover,
.logged-in-as a:hover,
.social-menu .menu li a:hover,
.top-header .info_topbar:hover,
.footer-section .footer-callout h4 span b,
.footer-section .footer-callout a:hover ,
.widget_contact .info-box a:hover ,
.widget_links ul li a:hover ,
.widget_subscribe .form-group input[type="submit"]:hover ,
.ow-navigation .dropdown-menu > li:hover > a.btn-default,
.ow-navigation .dropdown-menu > li:focus > a.btn-default,
.ow-navigation .dropdown-menu > li > a.btn-default:hover,
.ow-navigation .dropdown-menu > li > a.btn-default:focus,
.ow-navigation .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.ow-navigation .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.slider-section .item .carousel-caption a:hover,
.welcome-hover > a:hover,
.call-out-section a:hover,
.call-out-section2 a:hover,
.testimonial-section2 .testimonial-box .author-box h4 span,
.counter-detail h4 span,
.type-post .entry-content .entry-title a:hover,
.type-post .entry-content > a:hover,
.entry-meta div,
.entry-meta div a,
.widget-area .widget_categories li a:hover,
.widget-area .widget_categories li:hover span,
.widget_posts .latest-content a:hover,
.post-social ul li a:hover,
.tm-404 h1,
.post-nav .prev .good-prev>a:hover,
.post-nav .next .good-next>a:hover,
.post-nav .prev .mill-prev>a,
 .post-nav .next a,
.post-nav .prev .awardthemes-prev>a:hover,
.post-nav .next .awardthemes-next>a:hover,
.blog-single .about-author ul li a:hover,
.widget_posts .latest-content span,
.post-comments .media-body  span,
.tm-product-box:hover .product-title a,
.contact-form  input[type="submit"]:hover
{
	color:#92632a;	
}



/*
	  ============================================================
		   Background Color
	  ============================================================
*/
/* Test Unit Default Classes */
thead tr,
.footer-section tr td:hover,
.tag-sticky-2 .blog-info-feature,
.page-links a span:hover,
.sticky:after,
.footer-section .twitter-feeds ul li .icon-twitter-logo,
.footer-section .twitter-feeds ul li a:hover,
.eco_pagination_1 .current,
.post-password-form input[type="submit"],
.tm-pagination .page-numbers.current,
.tm-pagination ul li a:hover,
.tagcloud a:hover, 
.ow-navigation,
.form-submit input[type="submit"],
.page-links a:hover span, 
.sticky .blog-info-feature,
/* Woocommerce Default Classes */
.widget_product_search form input[type="submit"],
.woocommerce div.product form.cart .button,
.woocommerce-content ul.products li .added_to_cart,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce span.onsale,
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce ul.products li.product .button,
.woocommerce .cart .button, .woocommerce .cart input.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.shop_table.shop_table_responsive.cart thead tr,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce ul.products li.product span.onsale,
.woocommerce ul.products li.product .button,
.woocommerce span.onsale,
.shop_table thead tr th,
.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-Button.button,
.woocommerce ul.products li .button:hover,
.button.alt,
.woocommerce-content ul.products li .added_to_cart,
.woocommerce-checkout #payment div.payment_box,
.woocommerce-MyAccount-content  fieldset legend:before,
.woocommerce-account .awardthemes-title > h2:before,
.cart_totals > h2:before,
.woocommerce-cart .awardthemes-title h2:before,
.woocommerce span.onsale,
.related.products h2:before,
.woocommerce-Tabs-panel h2::before,
.woocommerce div.product .product_title::before,
.woocommerce-MyAccount-content  fieldset legend:after,
.woocommerce-account .awardthemes-title > h2:after,
.cart_totals > h2:after,
.woocommerce-cart .awardthemes-title h2:after,
.woocommerce-Tabs-panel h2::after,
.woocommerce div.product .product_title::after,
.woocommerce-Reviews #reply-title a,
.woocommerce div.product form.cart .button,
.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-MyAccount-navigation ul li:hover a,
.woocommerce a.remove:hover,
a.added_to_cart.wc-forward,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
/* Theme Default Classes */
.middle-header .header-content .header-cnt-box i,
.footer-section .footer-callout a ,
.ftr-widget .widget-title::before ,
.widget_subscribe .form-group input[type="submit"],
.ow-pagination .pagination > li a:hover,
.ow-pagination .pagination > li a:focus ,
.welcome-section .welcome-box i,
.bg-nav ,
.header-section.navbar-fixed-top ,
.ow-navigation ul li > .dropdown-menu ,
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover,
.navbar-fixed-top .ow-navigation .navbar-toggle .icon-bar,
.ow-navigation .navbar-toggle .icon-bar,
.navbar-fixed-top .ow-navigation .navbar-toggle:focus,
.navbar-fixed-top .ow-navigation .navbar-toggle:hover,
.ow-navigation .navbar-default .navbar-toggle:focus, 
.ow-navigation .navbar-default .navbar-toggle:hover,
.ow-navigation .navbar-toggle:hover ,
.slider-section .item .carousel-caption h3::before ,
.slider-section .item .carousel-caption a ,
.slider-section .carousel-indicators li.active::before,
.slider-section .carousel-indicators li:hover::before ,
.welcome-section .welcome-box i ,
.welcome-section2 .welcome-box i ,
.srv-box i ,
.srv-box .srv-box-hover a ,
.srv-tabs .nav-tabs > li > a:focus, 
.srv-tabs .nav-tabs > li > a:hover,
.srv-tabs .nav-tabs > li.active > a, 
.srv-tabs .nav-tabs > li.active > a:focus, 
.srv-tabs .nav-tabs > li.active > a:hover,
.portfolio-3-column .portfolio-categories li a:hover,
.portfolio-3-column .portfolio-categories li a.active,
.portfolio-box .links a:hover,
.call-out-section a,
.call-out-section2 a,
.testimonial-carousel2.owl-theme .owl-dots .owl-dot.active,
.testimonial-section2 .testimonial-box .author-box i,
.counter-section .contact-form ,
.team-box .team-img ul,
.type-post .entry-content .post-date,
.widget-title::before,
.widget_tags .tags > a:hover,
.comment-form  input[type="submit"],
.client-section,
.red-btn,
.btn-blue,
.date-category,
#searchform input[type="submit"],
#awardthemes-comment .comment-reply-link:hover,
#awardthemes-comment .comment-edit-link:hover,
.contact-info i,
.contact-form  input[type="submit"],
.project-detail-box h3::before
{
	background-color:#92632a !important;	
}
.tm-product-box .product-price{
	background-color:#1f1f1f;
}

/*
	  ============================================================
		   Border Color
	  ============================================================
*/
/* Test Unit Default Classes */
.form-control:focus,
input[type="date"]:focus,
#awardthemes-comment.form-control:focus,
.good_side_tags ul li a:hover, 
.good_pagination ul li.active a,
.good_pagination ul li a:hover,
.tags-cloud ul li a:hover,
/* Woocommerce Default Classes */
.woocommerce input[type="tel"]:focus,
.woocommerce input[type="email"]:focus,
.woocommerce-MyAccount-navigation ul li:hover a,
.woocommerce-message,
.woocommerce input[type="text"]:focus,
.woocommerce #review_form #respond .form-submit input:hover,
.white-login-form.mill_login_social-account .login_registor-style span,
.white-login-form input[type="checkbox"]:checked ~ span,
.white-login-form input[type="checkbox"]:checked ~ span::before,
.woocommerce form .form-row.woocommerce-invalid .select2-container, 
.woocommerce form .form-row.woocommerce-invalid input.input-text, 
.woocommerce form .form-row.woocommerce-invalid select,
.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select,
/* Theme Default Classes */
.ow-pagination .pagination > li a:hover,
.ow-pagination .pagination > li a:focus,
.slider-section .carousel-indicators li.active,
.slider-section .carousel-indicators li:hover ,
.welcome-section .welcome-content::before ,
.srv-box .srv-box-hover a ,
.srv-tabs .nav li a ,
.portfolio-categories li a.active,
.portfolio-categories li a:hover,
.portfolio-3-column .portfolio-categories li a:hover,
.portfolio-3-column .portfolio-categories li a.active,
.portfolio-box .links a:hover,
.call-out-section2 a,
.why-choose-box i ,
.testimonial-carousel2.owl-theme .owl-dots .owl-dot.active,
.team-box .team-img::before,
.post-social ul li a:hover,
.widget_tags .tags > a:hover,
.four-o-four-text.borderright,
.blog-single .about-author ul li a:hover,
.comment-form  input[type="submit"],
.contact-form  input[type="submit"]
{
	/* border-color:#92632a; */
}



/* + Transition */
.form-submit .submit,
a,
.red-btn,
.red-btn,
.search-box,
.widget_archive li, 
.widget_categories li,
.widget_categories ul li a,
.srv-box::before,
.srv-box > img,
.srv-box .srv-box-hover h3,
.srv-box .srv-box-hover p,
.srv-box .srv-box-hover a, 
.srv-tabs .nav li a i img,
.portfolio-3-column .portfolio-categories li a,
.portfolio-4-column .portfolio-categories li a::before,
.portfolio-4-column .portfolio-categories li a::after,
.portfolio-box .links a ,
.call-out-section a,
.post-nav .prev .awardthemes-prev>a,
.post-nav .prev .awardthemes-prev>a>strong,
.post-nav .next .awardthemes-next>a,
.post-nav .next .awardthemes-next>a>strong,
.team-box .team-img ul,
.type-post .entry-content .entry-title a,
.entry-meta div a,
.ow-pagination ul li span,
.type-post .entry-content > a,
.widget-area .widget_categories li a,
.widget-area .widget_categories span,
.post-comments .media-body .media-content a,
.comment-form  input[type="submit"],
.contact-form  input[type="submit"],
.welcome-section2 .welcome-box img,
.tm-product-box .product-image img,
.tm-product-box .product-title, .tm-product-box .product-image:before,
.welcome-section2 .welcome-box i,
.welcome-hover > a,
.widget_categories li,
#searchform input[type="submit"],
.blogfullwidth .entry-content .entry-title a:hover,
.awardthemes-widget.widget_pages ul li a, 
.awardthemes-widget.widget_meta ul li a, 
.awardthemes-widget.widget_recent_entries ul li a

{
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 0.3s ease 0s;
}
/*Opaity BG Color*/

.welcome-section2 .welcome-box::before,
.srv-box::before,
.portfolio-box::before,
.tm-product-box .product-image:before
{
    background-color: rgba(146, 99, 42, 0.92);
}
.srv-box::before, .srv-box > img,
.welcome-section2 .welcome-box img {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    float: left;
    width: 100%;
}