/*
	[Table of contents]

	## Navigation Menu
	- Navigation Menu > 991 RES
	- Navigation Menu Switch < 991 RES
	
*/

/* ## Navigation Menu */

.bg-nav {
	background-color: #C69453;
}
.ow-navigation {
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	min-height: 1px;
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.ow-navigation .nav.navbar-nav li:first-child > a {
    padding-left: 0;
}

.ow-navigation .navbar-right {
	margin-right: 0;
}
.ow-navigation .navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	height: auto;
	letter-spacing: 0.37px;
	margin: 33px 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 31px;
	color: #ffffff;
	font-weight: 800;
}
.ow-navigation .navbar-brand:hover,
.ow-navigation .navbar-brand:focus {
	color: #ffffff;
}
.ow-navigation .nav {
	margin-bottom: 0;
	float: none;
}
.ow-navigation .nav.navbar-nav > li {
	margin: 0 12px;
	float: none;
	display: inline-block;
	position: relative;
	width:auto;
}
.ow-navigation .nav.navbar-nav li > a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.56px;
	padding: 20px 11px;
	position: relative;
	text-transform: uppercase;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.ow-navigation .nav.navbar-nav > li.active > a,
.ow-navigation .nav.navbar-nav > li.active:hover > a,
.ow-navigation .nav.navbar-nav > li.active:focus > a,
.ow-navigation .nav.navbar-nav > li:hover > a,
.ow-navigation .nav.navbar-nav > li:focus > a,
.ow-navigation .nav.navbar-nav > li > a:hover,
.ow-navigation .nav.navbar-nav > li > a:focus,
.ow-navigation .dropdown-menu li:hover > a,
.ow-navigation .sub-menu li > a:hover,
.ow-navigation .sub-menu li > a:hover
 {
	background-color: #92632a;
	color: #fff;
}

.ow-navigation .dropdown-menu > li:hover > a,
.ow-navigation .dropdown-menu > li:focus > a,
.ow-navigation .dropdown-menu > li > a:hover,
.ow-navigation .dropdown-menu > li > a:focus,
.ow-navigation .sub-menu > li:hover > a,
.ow-navigation .sub-menu > li:focus > a,
.ow-navigation .sub-menu > li > a:hover,
.ow-navigation .sub-menu > li > a:focus
{
	background-color: transparent;
}

/* -- Navbar Fixed */
.header-section.navbar-fixed-top {
	background-color: #502b21;
}